body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

header .search img {
    width: 20px;
    height: 20px;
}


.breadcrumb {
    text-decoration: none;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 14px;
    color: gray;
    display: flex;
    gap: 5px;
}

.breadcrumb a {
    color: gray;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: darkgray;
}

/* Контент */
.content-block {
    max-width: 800px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-block.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.content-block img.main-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Основное изображение */
.main-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

/* Заголовки */
h2 {
    margin-bottom: 20px;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table a {
    color: gray;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #f9f9f9;
}

/* Ссылки на главы */
.chapter-links {
    list-style-type: none;
    padding: 0;
    text-decoration: underline;
}

.chapter-links li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}
